<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <!-- in bw these syntax of ejs, everything is treated as JS -->
    <h1>Homepage <%= 4+4+4 %>  </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ut in! Iure earum repellendus placeat quaerat optio
        nostrum esse aperiam perspiciatis numquam itaque. Reiciendis vitae nisi, voluptatem reprehenderit veritatis
        officia!</p>

</body>

</html>